In [12]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

In [4]:
df = pd.read_csv("../data/stud.csv")

In [5]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [13]:
train_set, test_set = train_test_split(df, test_size=0.3, random_state=42)

In [44]:
Xtrain = train_set.drop(columns=['math_score'], axis=1)
ytrain =  train_set['math_score']

Xtest = test_set.drop(columns=['math_score'], axis=1)
ytest =  test_set['math_score']

In [28]:
cat_cols = Xtrain.select_dtypes(include='object').columns
num_cols = Xtrain.select_dtypes(exclude='object').columns

In [20]:
ytrain

541    79
440    67
482    68
422    47
778    72
       ..
106    87
270    69
860    53
435    50
102    85
Name: math_score, Length: 700, dtype: int64

In [45]:
cat_pipeline = Pipeline([
    ('impute', SimpleImputer(strategy='most_frequent')),
    ('onehot_encode', OneHotEncoder()),
    ('Scaler', StandardScaler(with_mean=False))
])

num_pipeline = Pipeline([
    ('impute', SimpleImputer(strategy='median')),
    ('Scaler', StandardScaler(with_mean=False))
])

In [46]:
preprocess = ColumnTransformer([
    ('cat_pipeline', cat_pipeline, cat_cols),
    ('num_pipeline', num_pipeline, num_cols) 
])

In [47]:
Xtrain_pre = preprocess.fit_transform(Xtrain)
Xtest_pre = preprocess.fit_transform(Xtest)